* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}


#header{
height: 46px;
background-color: #000;
position: fixed;
right: 0;
left: 0;
top: 0;
}
#nav{
display: inline-block;
}

#nav, ul{
    list-style-type: none;
}
#nav>li {
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav> li:hover> a {
    color: #000;
    background-color: #ccc;
}
#nav>li>a{
color: #fff;
text-transform: uppercase;
}

#nav li a{
    display:block;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    
}
#nav .button-down{
font-size: 14px;
}
#header .button-search{
float: right;
color:#fff;
line-height: 46px;
padding: 0 24px;
cursor: pointer;
}
#header .button-search:hover{
    background-color: red;
}

#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
position: absolute;
display: none;
background-color:#fff;
}
#nav .subnav a{
color: #000;
padding: 0 12px;
line-height: 38px;
min-width: 160px;
}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}



#slider{
    height: 2000px;
    background-color: green;
    margin-top: 46px;
}

#content{

}

#footer{

}

